*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(../Images/hero.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100vh;
}

.btn{
    align-self:center;
    font-family: "Roboto",sans-serif;
    font-size: 4vh;
    font-weight: bold;
    /* background-image: linear-gradient(to right,#a8bacc ,#ffce1e); */
    background: none;
    color:#ffce1e;
    width: 27vh;
    padding: 1.5vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-color: aqua;
    border-style: solid;
    /* border-bottom: 0.5vh; */
    /* border-top: none;
    border-top:none;
    border-left:none;
    border-right:none; */
    cursor: pointer;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.03s ;
    transition-duration: 0.5s ;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
    /* box-shadow:8px 8px 8px #ffce1e;  */
    
    }
    .btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
    }
.btun{

padding-top:4vh ;
text-align: center;

}
.ahar{
/* padding-left:65vh; */
padding-left: 57vh;
position:fixed;
padding-top:9vh ;

color:rgb(255, 206, 30);
width: 100vh;
text-align: center;

}

.txgood{
font-size: 6vh;
text-align: center;
color:rgb(255, 206, 30);
}
.box{
    position: fixed;
    padding-left: 74vh;
    padding-top: 58vh;
}