*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.main{
    width: 100%;
    height: 10vh;
    /* background: url(../Images/hero.jpg); */
    /* background-color: #ffce1e;   */
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:0 1%;
    /* box-shadow:10px 18px 100px black; */
    
    }
  .main ul{
    list-style: none;
    display: flex;
  
    }
  .main ul{
    padding:2vh 1vh;
        
    }
  .main li{
    padding: 1.2vh;
  }
  
  .ahar{
    
    padding-left:5%;
    width: 50vh;
    height: 12vh;
    
  }
  .main ul li a button{
    width: 20vh;
        
    }
      .btn{
        align-self:center;
        font-family: "Roboto",sans-serif;
        font-size: 2vh;
        font-weight: bold;
        /* background-image: linear-gradient(to right,#a8bacc ,#ffce1e); */
        background: none;
        color:#ffce1e;
        width: 8vh;
        padding: 1.5vh;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-color: aqua;
        border-style:solid;
        /* border-bottom: 0.5vh; */
        /* border-top: none;
        border-top:none;
        border-left:none;
        border-right:none; */
        cursor: pointer;
        box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
        -webkit-transition-duration: 0.03s ;
        transition-duration: 0.5s ;
        -webkit-transition-property: box-shadow,transform;
        transition-property: box-shadow,transform;
        /* box-shadow:8px 8px 8px #ffce1e;  */
        
        }
        .btn:hover, .btn:focus, .btn:active{
        box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.3);
        }
        .btun{
        
        padding-top:4% ;
        text-align: center;
        
        }
        body{
            /* background-color: #00a985; */
            background-image: url(../Images/hero.jpg);
            background-size: cover;
            
        }
        .box{
            margin-top: 3.5%;
            margin-left:23%;
            width:110vh;
            height: 75vh;
            /* background-color: rgb(40, 252, 178); */
            background-color: rgba(69, 255, 252, 0.5);
            border-color: black;
            border-style: none;
            box-shadow: 3vh 3vh 3vh black;
            border-radius: 4vh;
        }
        .heading{
            font-size: 5vh;
            position: absolute;
            width:55vh;
            height: 12vh;
            background-color: none;
            text-align: center;      
            padding-bottom: 13vh;      
            text-shadow: 0.3vh 0.4vh 0.4vh #ffce1e;
            /* background-color:#dcb423; */
            font-family: "Sofia",sans-serif;
            

            border-bottom:1vh;
            border-style:double;
            border-top: none;
            border-left:none ;
            border-right: none;
            /* box-shadow: 9px 9px 9px black; */
            margin-left: 26vh;
            margin-top: 1vh;
        }
         
        .one{
           position: absolute;
           margin-top: 18vh;
           margin-left: 0vh;
           font-size: 3vh;
           width: 45vh;
           height: 30vh;
           
           border-style:none;
           /* background-color:#dcb423; */
           position: absolute;
           /* box-shadow: 9px 9px 9px black; */
           
           /* text-align: center; */
           padding-left: 5vh;
           padding-top: 2vh;
           
       }
       .two{
            position: absolute;
            margin-top: 18vh;
            margin-left: 35vh;
            font-size: 3vh;
            width: 73vh;
            height: 30vh;
        
            border-style:none;
           /* background-color:#dcb423; */
           position: absolute;
          
           padding-left: 2vh;
           padding-top: 2vh;
           padding-right:55vh;
           
       } 
       .inp{
        width: 23vh;
        height: 3.5vh;
        background:none;
        font-size: 2vh;
        /* transition */
        border-bottom: 2px solid aqua;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-transition-duration: 0.03s;
        transition-duration: 0.5s;
        -webkit-transition-property: box-shadow,transform;
        transition-property: box-shadow,transform;
    
        }
        .inp:hover, .inp:focus, .inp:active{
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.1);
          transform: scale(1.3);
        }
        .inp1{
          width: 23vh;
          height: 3.5vh;
          background:none;
          font-size: 2vh;
          /* transition */
          border-bottom: 2px solid aqua;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-transition-duration: 0.03s;
        transition-duration: 0.5s;
        -webkit-transition-property: box-shadow,transform;
        transition-property: box-shadow,transform;
        }
        .inp1:hover, .inp1:focus, .inp1:active{
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.1);
          transform: scale(1.3);
        }
        .inp2{
            width: 25vh;
            height: 20vh;
            background: none;  
            padding-top: 0%;
            margin-top: 3vh;
            font-size: 2vh;
            font-family: "Sofia",sans-serif;
            border:0.2vh;
            border-style:solid;
            box-shadow: 0 0 3vh rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            -webkit-transition-duration: 0.03s;
            transition-duration: 0.5s;
            -webkit-transition-property: box-shadow,transform;
            transition-property: box-shadow,transform;
            }
            .inp2:hover, .inp2:focus, .inp2:active{
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
              -webkit-transform: scale(1.1);
              transform: scale(1.3);
            }
        .message{
            background: none;
            font-size: 3vh;
            width:39vh;
            height: 2vh;
            border: 1vh;
            border-style:none;
            position: absolute;
            /* background-color:#dcb423; */
            
             /* margin-right: 3%; */
            /* box-shadow: 9px 9px 9px black; */
            
            /* text-align: center; */
            padding-left: 10vh;
            padding-top: 19vh;
            /* padding-right:55px; */
            
            
        }
        .btns{
          align-self:center;
          font-family: "Roboto",sans-serif;
          font-size: 2vh;
          font-weight: bold;
          /* background-image: linear-gradient(to right,#a8bacc ,#ffce1e); */
          background: none;
          /* color:#ffce1e; */
          color:#ffce1e;
          width: 19vh;
          padding: 1.5vh;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          border-color: aqua;
          border-style: solid;
          /* border-bottom: 0.5vh; */
          /* border-top: none;
          border-top:none;
          border-left:none;
          border-right:none; */
          cursor: pointer;
          box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
          -webkit-transition-duration: 0.03s ;
          transition-duration: 0.5s ;
          -webkit-transition-property: box-shadow,transform;
          transition-property: box-shadow,transform;
          /* box-shadow:8px 8px 8px #ffce1e;  */
          
          }
          .btns:hover, .btns:focus, .btns:active{
          box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.1);
          transform: scale(1.3);
          }
            .btuns{
            
            padding-top:57vh ;
            text-align: center;
            padding-left: 47vh;
            position: absolute;
            
            }
            .both{
              margin-left: 40vh;

            }
            .all{
              padding-top: 1vh;
            }